 div.team.container
               .row 
                 .col-lg-3.col-md-6
                   .dance-item
                     .dance-img 
                       img(src="static/img/c4.jpg", alt="img")
                       i.a(href="").fab.fa-twitter
                       i.a(href="").fab.fa-facebook-f
                       i.a(href="").fab.fa-linkedin-in
                       i.a(href="").fab.fa-instagram
                 .col-lg-3.col-md-6
                   .dance-item
                     .dance-img 
                       img(src="static/img/c4.jpg", alt="img")
                       i.a(href="").fab.fa-twitter
                       i.a(href="").fab.fa-facebook-f
                       i.a(href="").fab.fa-linkedin-in
                       i.a(href="").fab.fa-instagram

                 .col-lg-3.col-md-6
                   .dance-item
                     .dance-img 
                       img(src="static/img/c4.jpg", alt="img")
                       i.a(href="").fab.fa-twitter
                       i.a(href="").fab.fa-facebook-f
                       i.a(href="").fab.fa-linkedin-in
                       i.a(href="").fab.fa-instagram
      