//- base.pug
doctype html
html
  head
    title Pihu Dance Academy
    block scripts
    block style 
 body
    block content
           nav#navbar
           ul
              #logo 
                img(src="static/img/logo2.png ", alt="log_img")
                |PIHU DA
              li #[a(href="/")  Home]
              li #[a(href="/")  Abouts]
              li #[a(href="/")  Services] 
              li #[a(href="/")  Class Info]
              li #[a(href="/")  Contact Us]

    footer#footer
       h3 Copyright @ 2020-2021 PihuDanceAcademy.com | All right recerved
  